
<!-- 
	     __ _              __          _ _ 
	    / /| |            / /         | | |
	   / /_| | _____   __/ / __  _   _| | |
	  / / _` |/ _ \ \ / / / '_ \| | | | | |
	 / / (_| |  __/\ V / /| | | | |_| | | |
	/_/ \__,_|\___| \_/_/ |_| |_|\__,_|_|_|

!-->

<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="/public/css/user.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/logo-144.png">
                                 <link rel="icon" href="/public/logo-144.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Incluir Fonts-awesome -->
  <script src="https://use.fontawesome.com/b82aea4176.js"></script>

</head>
